<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" (click)="modalController.dismiss()">
        <img src="../../assets/back-dark.svg" />
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <h1 class="title">{{t.translate('CHECKOUT')}}</h1>

  <div class="cart-items">
    <ion-card mode="ios" *ngFor="let product of cartProducts">
      <ion-card-content>
        <div class="item-img">
          <img [src]="product.image" />
        </div>

        <div class="item-info">
          <p>{{product.name}}</p>
          <p>{{product.color}}</p>
          <p>{{product.price}}$</p>

          <div>
            <ion-label>x{{product.quantity}}</ion-label>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="address">
    <ion-item lines="none">
      {{userInfo.address}}
      <ion-badge slot="end">&nbsp;</ion-badge>
    </ion-item>
  </div>

  <hr />

  <div class="cart-total">
    <ion-item lines="none">
      <ion-label>{{t.translate('SUB_TOTAL')}}</ion-label>
      <ion-label slot="end" class="ion-text-right">${{subTotal}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>{{t.translate('SHIPPING')}}</ion-label>
      <ion-label slot="end" class="ion-text-right">$10.00</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>{{t.translate('TOTAL')}}</ion-label>
      <ion-label slot="end" class="ion-text-right">${{total}}</ion-label>
    </ion-item>
  </div>
</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button expand="block" class="main-button" (click)="sendOrder()"
      >{{t.translate('COMPLETE_ORDER')}}</ion-button
    >
  </ion-toolbar>
</ion-footer>
