<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../../assets/menu_bar.svg" />
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        class="cart-button"
        expand="block"
        (click)="cartService.cartModal()"
      >
        <ion-badge class="badge" color="danger" slot="end" mode=""
          >{{productCount}}
        </ion-badge>

        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
      <ion-button
        expand="block"
        (click)="filterModal()"
        *ngIf="categorySelected"
        ><ion-icon name="filter-outline"></ion-icon>
      </ion-button>
      <ion-button expand="block" (click)="changeLanguage()">
        {{language}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search ion-padding" *ngIf="categorySelected">
    <ion-item lines="none">
      <ion-input
        [placeholder]="t.translate('SEARCH_YOUR_PRODUCT')"
        (ionChange)="onSearchChange($event)"
      ></ion-input>
      <ion-icon
        name="search-outline"
        slot="start"
        (click)="searchProducts()"
      ></ion-icon>
    </ion-item>
  </div>

  <ng-container *ngIf="!categorySelected">
    <div class="title ion-padding">
      <h2>{{t.translate('CATEGORIES')}}</h2>
    </div>

    <div class="category-slider ion-padding-start">
      <ion-slides
        [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }"
      >
        <ion-slide *ngFor="let category of categories">
          <ion-col (click)="selectCategory(category.name)">
            <h4>{{ t.translate(category.token) }}</h4>
            <img src="{{ category.image }}" />
          </ion-col>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="title ion-padding">
      <h2>{{t.translate('FEATURED')}}</h2>
    </div>

    <div class="product-slider ion-padding-start">
      <ion-slides
        [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }"
      >
        <ion-slide *ngFor="let product of featuredProducts">
          <ion-col class="ion-text-left" (click)="openItemDetails(product)">
            <img src="{{ product.image }}" />
            <p>${{ product.price }}</p>
            <h6>{{ product.name }}</h6>
          </ion-col>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="title ion-padding">
      <h2>{{t.translate('BEST_SELLER')}}</h2>
    </div>

    <div class="product-slider ion-padding-start">
      <ion-slides
        [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }"
      >
        <ion-slide *ngFor="let product of bestSellProducts">
          <ion-col class="ion-text-left" (click)="openItemDetails(product)">
            <img src="{{ product.image }}" />
            <p>${{ product.price }}</p>
            <h6>{{ product.name }}</h6>
          </ion-col>
        </ion-slide>
      </ion-slides>
    </div>
  </ng-container>
  <ng-container *ngIf="categorySelected">
    <div class="title ion-padding">
      <h2>{{t.translate(categorySelected | uppercase)}}</h2>
      <ion-buttons slot="end"
        ><ion-button (click)="clearCategory()"
          ><ion-icon name="close-outline"></ion-icon></ion-button
      ></ion-buttons>
    </div>
    <div class="product-slider ion-padding-start">
      <div
        [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }"
        class="product-card-container"
      >
        <div *ngIf="!products.length">
          {{t.translate('NO_PRODUCTS_MATCHING_FILTERS')}}
        </div>
        <div *ngFor="let product of products" class="product-card">
          <ion-col class="ion-text-left" (click)="openItemDetails(product)">
            <img src="{{ product.image }}" />
            <p>${{ product.price }}</p>
            <button
              class="fav-button"
              [ngClass]="{'favourite': product.favourite}"
              (click)="$event.stopPropagation(); clickFavourite(product)"
            >
              <ion-icon size="Large" name="heart-outline"></ion-icon>
            </button>
            <div style="display: flex; align-items: center; margin-top: 10px">
              <h6>{{ product.name }}</h6>
              <ion-buttons
                slot="end"
                style="
                  margin-left: auto;
                  background-color: var(--ion-color-primary);
                  color: white;
                  padding-right: 10px;
                "
              >
                <ion-button>{{t.translate('ADD_TO_CART')}}</ion-button
                ><ion-icon name="cart-outline"></ion-icon
              ></ion-buttons>
            </div>
          </ion-col>
        </div>
      </div>
    </div>
  </ng-container>
</ion-content>
