<div class="form-container">
  <ion-item>
    <ion-label position="floating">Product Name</ion-label>
    <ion-input [(ngModel)]="product.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Product Price</ion-label>
    <ion-input type="number" [(ngModel)]="product.price"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Product Image</ion-label>
    <ion-input type="text" [(ngModel)]="product.image"></ion-input>
  </ion-item>
  <img [src]="product.image" alt="image" class="product-image" />
  <ion-item>
    <ion-label position="floating">Product Description</ion-label>
    <ion-input type="text" [(ngModel)]="product.description"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Is Featured?</ion-label>
    <ion-checkbox (ionChange)="changeFeature($event)"
      >I agree to the terms and conditions</ion-checkbox
    >
  </ion-item>

  <ion-label position="floating">Product Brand</ion-label>
  <ion-item>
    <ion-select
      aria-label="brand"
      placeholder="Select brand"
      (ionChange)="changeBrand($event)"
      [value]="product.brand_id"
    >
      <ion-select-option *ngFor="let brand of brands" [value]="brand.id">{{
        brand.name
      }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-label position="floating">Product Category</ion-label>

  <ion-list>
    <ion-item>
      <ion-select
        aria-label="category"
        placeholder="Select Category"
        (ionChange)="changeCategory($event)"
        [value]="product.category"
      >
        <ion-select-option value="womens">Womens</ion-select-option>
        <ion-select-option value="mens">Mens</ion-select-option>
        <ion-select-option value="kids">Kids</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-label position="floating">Product Color</ion-label>
  <ion-item>
    <ion-select
      aria-label="color"
      placeholder="Select color"
      (ionChange)="changeColors($event)"
      [value]="product.color_ids"
      [multiple]="true"
    >
      <ion-select-option *ngFor="let color of colors" [value]="color.id">{{
        color.name
      }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" class="main-button" (click)="save()">{{
    isEditing ? "Update" : "Create"
  }}</ion-button>
  <ion-button expand="block" class="secondary-button" (click)="deleteProduct()"
    >Delete</ion-button
  >
  <ion-button expand="block" class="main-button" (click)="close()"
    >Cancel</ion-button
  >
</div>
