<div class="form-container">
  <ion-item>
    <ion-label position="floating">{{ t.translate("PRODUCT_NAME") }}</ion-label>
    <ion-input [(ngModel)]="product.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">{{
      t.translate("PRODUCT_PRICE")
    }}</ion-label>
    <ion-input type="number" [(ngModel)]="product.price"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">{{
      t.translate("PRODUCT_IMAGE")
    }}</ion-label>
    <ion-input type="text" [(ngModel)]="product.image"></ion-input>
  </ion-item>
  <img [src]="product.image" alt="image" class="product-image" />
  <ion-item>
    <ion-label position="floating">{{
      t.translate("PRODUCT_DESCRIPTION")
    }}</ion-label>
    <ion-input type="text" [(ngModel)]="product.description"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">{{
      t.translate("PRODUCT_IS_FEATURED")
    }}</ion-label>
    <ion-checkbox (ionChange)="changeFeature($event)"></ion-checkbox>
  </ion-item>

  <ion-label position="floating">{{ t.translate("PRODUCT_BRAND") }}</ion-label>
  <ion-item>
    <ion-select
      aria-label="brand"
      placeholder="Select brand"
      (ionChange)="changeBrand($event)"
      [value]="product.brand_id"
    >
      <ion-select-option *ngFor="let brand of brands" [value]="brand.id">{{
        brand.name
      }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-label position="floating">{{
    t.translate("PRODUCT_CATEGORY")
  }}</ion-label>

  <ion-list>
    <ion-item>
      <ion-select
        aria-label="category"
        placeholder="Select Category"
        (ionChange)="changeCategory($event)"
        [value]="product.category"
      >
        <ion-select-option value="womens">{{
          t.translate("WOMENS")
        }}</ion-select-option>
        <ion-select-option value="mens">{{
          t.translate("MENS")
        }}</ion-select-option>
        <ion-select-option value="kids">{{
          t.translate("KIDS")
        }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-label position="floating">{{ t.translate("PRODUCT_COLOR") }}</ion-label>
  <ion-item>
    <ion-select
      aria-label="color"
      placeholder="Select color"
      (ionChange)="changeColors($event)"
      [value]="product.color_ids"
      [multiple]="true"
    >
      <ion-select-option *ngFor="let color of colors" [value]="color.id">{{
        color.name
      }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-label position="floating">{{ t.translate("PRODUCT_SIZE") }}</ion-label>
  <ion-item>
    <ion-select
      aria-label="size"
      placeholder="Select size"
      (ionChange)="changeSizes($event)"
      [value]="product.size_ids"
      [multiple]="true"
    >
      <ion-select-option *ngFor="let size of sizes" [value]="size.id">{{
        size.name
      }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="block" class="main-button" (click)="save()">{{
    isEditing ? t.translate("UPDATE") : t.translate("CREATE")
  }}</ion-button>
  <ion-button
    expand="block"
    class="secondary-button"
    (click)="deleteProduct()"
    >{{ t.translate("DELETE") }}</ion-button
  >
  <ion-button expand="block" class="main-button" (click)="close()">{{
    t.translate("CANCEL")
  }}</ion-button>
</div>
