<ion-header>
  <ion-toolbar>
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-segment (ionChange)="changePage($event)" value="brand">
        <ion-segment-button value="brand">
          <ion-label>Brand Management</ion-label>
        </ion-segment-button>
        <ion-segment-button value="product">
          <ion-label>Product Management</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>

  <ng-container
    *ngIf="showBrandPage; then brands; else products"
  ></ng-container>
</ion-content>

<ng-template #brands>
  <app-brands-list></app-brands-list>
</ng-template>
<ng-template #products> <app-product-list></app-product-list></ng-template>
