<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        color="primary"
        class="backbtn"
        routerLink="/home"
        routerDirection="back"
      >
        <img src="../../assets/back-dark.svg" />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>{{t.translate('ADMIN')}}</ion-title>
  <ion-header>
    <ion-toolbar>
      <ion-segment (ionChange)="changePage($event)" [value]="showBrandPage">
        <ion-segment-button value="brand">
          <ion-label>{{t.translate('BRAND')}}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="product">
          <ion-label>{{t.translate('PRODUCT')}}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="color">
          <ion-label>{{t.translate('COLOR')}}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="size">
          <ion-label>{{t.translate('SIZE')}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="showBrandPage === 'brand'">
    <app-brands-list></app-brands-list>
  </ng-container>
  <ng-container *ngIf="showBrandPage === 'product'">
    <app-product-list></app-product-list>
  </ng-container>
  <ng-container *ngIf="showBrandPage === 'color'">
    <app-color-admin></app-color-admin>
  </ng-container>
  <ng-container *ngIf="showBrandPage === 'size'">
    <app-sizes-admin></app-sizes-admin>
  </ng-container>
</ion-content>
