<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        color="primary"
        class="backbtn"
        routerLink="/home"
        routerDirection="back"
      >
        <img src="../../assets/back-dark.svg" />
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        class="cart-button"
        expand="block"
        (click)="cartService.cartModal()"
      >
        <ion-badge class="badge" color="danger" slot="end" mode=""
          >{{productCount}}
        </ion-badge>

        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">{{t.translate('ORDERS')}}</h1>

  <div class="order-items">
    <ion-card
      mode="ios"
      *ngFor="let order of orders"
      (click)="openItemModal(order)"
    >
      <ion-card-content>
        <div class="item-img">
          <img [src]="order.product_image" />
        </div>

        <div class="item-info">
          <p>{{order.product_name}}</p>
          <p>{{order.size_name}}</p>
          <p>{{order.color_name}}</p>
          <p>x{{order.identical_product_count}}</p>
          <p>${{order.product_price}}</p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
