<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        color="primary"
        class="backbtn"
        (click)="modalController.dismiss()"
      >
        <img src="../../assets/back-dark.svg" />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button
        class="cart-button"
        expand="block"
        (click)="cartService.cartModal()"
      >
        <ion-icon name="cart-outline"></ion-icon>

        <ion-badge class="badge" color="danger" slot="end" mode=""
          >{{productCount}}
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="false" class="product-slider">
    <ion-slide>
      <img [src]="product.image" />
    </ion-slide>
    <!-- <ion-slide>
      <img [src]="product.image" />
    </ion-slide>
    <ion-slide>
      <img [src]="product.image" />
    </ion-slide> -->
  </ion-slides>

  <div class="ion-padding-vertical">
    <h1 class="item-name">{{product.name | titlecase}}</h1>

    <h4 class="price">
      ${{ product.price }}
      <!-- <span class="real-price" style="color: rgb(116, 116, 116)"
        >${{product.price[0] +'0' + product.price.slice(1)}}</span
      > -->
    </h4>
  </div>

  <div class="seperator">
    <hr />
  </div>

  <div class="review">
    <ion-row>
      <ion-col size="6">
        <div class="rating">
          {{skibidiToiletRizzOhioSigmaFanumTaxBabyGronkYogurtMaleMewingEdgemaxxingLooksmaxxingShawtySlayQueenmaxxingGyatGoonCaveOneTwoBuckleMyShoe(product.reviews_average_rating)}}
        </div>

        {{product.reviews_average_rating>4 && t.translate('VERY_GOOD') ||
        product.reviews_average_rating>2 && t.translate('GOOD') ||
        product.reviews_average_rating>0 && t.translate('BAD') ||
        t.translate('NO_RATINGS')}}
      </ion-col>
      <ion-col size="6">
        <div class="count">
          {{product.total_reviews}} {{t.translate('REVIEWS')}}
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div class="seperator">
    <hr />
  </div>

  <div class="description">
    <h5>{{t.translate('DESCRIPTION')}}</h5>

    <p>{{ product.description }}</p>
  </div>

  <div class="seperator">
    <hr />
  </div>

  <div class="variation">
    <ion-segment (ionChange)="segmentChanged($event)" value="size">
      <ion-segment-button value="size">
        <ion-label>{{t.translate('SELECT_SIZE')}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="color">
        <ion-label>{{t.translate('SELECT_COLOR')}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="seperator">
    <hr />
  </div>

  <div class="variation-selector">
    <div class="sizes" [class.active-variation]="activeVariation == 'size'">
      <div
        *ngFor="let size of sizes"
        [class.active]="selectedSize == size.id"
        (click)="changeSize(size.id)"
      >
        {{size.name}}
      </div>
    </div>

    <div class="colors" [class.active-variation]="activeVariation == 'color'">
      <div
        *ngFor="let color of colors"
        [class.active]="selectedColor == color.id"
        (click)="changeColor(color.id)"
      >
        {{color.name}}
      </div>
    </div>
  </div>
  <div class="seperator" style="margin-top: 60px">
    <hr />
  </div>
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 80px;
    "
  >
    <h5 style="font-weight: bold">{{t.translate('REVIEWS')}}</h5>

    <ion-button class="add-review-button" (click)="addReviewModal()"
      >{{t.translate('REVIEWS')}}</ion-button
    >
  </div>

  <div class="reviews">
    <div class="review" *ngFor="let review of reviews">
      <div style="display: flex; align-items: center">
        <img
          style="width: 40px; height: 40px"
          src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png"
          alt=""
        />
        <div
          style="
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            font-size: 13px;
          "
        >
          <div>
            <div class="usename" style="font-size: 16px">
              {{review.username}}
            </div>

            <ion-icon
              name="star"
              *ngFor="let star of [].constructor(review.score)"
            ></ion-icon>
            <ion-icon
              name="star-outline"
              *ngFor="let star of [].constructor(5-review.score)"
            ></ion-icon>
          </div>
          {{review.date | date: "dd/MM/yyyy"}}
        </div>
      </div>
      <p>{{review.description}}</p>
      <div class="seperator" style="margin-bottom: 40px">
        <hr />
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="full" color="light" (click)="addToCart()"
        >Add to cart</ion-button
      >
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full" (click)="buyNow()">Buy now</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
