<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" (click)="closeModal()">
        <img src="../../assets/back-dark.svg" />
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <h1 class="title">Cart</h1>

  <div class="cart-items">
    <ion-card mode="ios" *ngFor="let product of cartProducts">
      <ion-card-content>
        <div class="item-img">
          <img [src]="product.image" />
        </div>

        <div class="item-info">
          <p>{{product.name}}</p>
          <p>{{t.translate('SIZE')}}: {{getSizeName(product)}}</p>
          <p>{{t.translate('COLOR')}}: {{getColorName(product)}}</p>
          <p>{{product.price}}$</p>

          <div class="qty-selector">
            <ion-button fill="clear" (click)="decrease(product)">-</ion-button>
            <ion-label>{{product.quantity}}</ion-label>
            <ion-button fill="clear" (click)="increment(product)">+</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer translucent="true" class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" class="main-button" (click)="openCheckoutModal()"
      >{{t.translate('CONTINUE')}}</ion-button
    >
  </ion-toolbar>
</ion-footer>
